.general {
    background-color: #fff8ef;
}

.answer {
    opacity: 0;
    background-color: rgba(84,44,35,1);
    color: white;
    border-radius: 5em;
    padding: 2em;
    margin: 1em;
    font-family: 'Caveat Brush', cursive;
    transition:0.5s ease;
    display: block;
    box-sizing: border-box;
    text-align: center;
}


#lien:hover .answer{
    opacity: 1;
}

.text{
    border: 5px solid rgba(84,44,35,1);
    border-radius: 2em;
    padding: 1em;
    font-family: cursive;
    display: flex;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
}

.title{
    font-family: cursive;
    font-size: 14px;
}

.souligner {
    display: inline;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
}